<!DOCTYPE html>

<html>
  <head>
    <title>Super Hero Teams</title>
  </head>

  <body>
    <h1>Super Hero Teams</h1>
    <div class="team">
      <h3><%= @team.name %></h3><br>
      <h4>Team Motto: <%= @team.motto %></h4><br>
    </div><br>

    <h1>Team Members</h1>
    <div class="members">
      <% @members.each do |hero| %>
        <h3>Hero Name: <%= hero.name %></h3><br>
        <h3>Hero Power: <%= hero.power %></h3><br>
        <h3>Hero Bio: <%= hero.bio %></h3><br>
    </div><br>
    <% end %>

  </body>
</html>
